.transactionBox {
  width: 250px;
  height: 55px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
}
.transactionText {
  align-items: center;
}
.cancelBtn {
  background-color: rgb(218, 30, 30);
  border: solid 2px;
}
.acceptBtn {
  background-color: lawngreen;
  border: solid 2px;
}
#progressBarParent {
  width: 250px;
  height: 20px;
  border: 1px solid;
}
#progressBar {
  width: 250px;
  height: 20px;
  background-color: lawngreen;
}
#goalBox {
  display: flex;
  align-items: center;
  justify-content: left;
}
#yourGoal {
  margin-right: 16px;
}
